<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar UI</title>
     <link rel="stylesheet" href="/stylesheet/navbar.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/home">
            <img
              src="https://static.vecteezy.com/system/resources/previews/014/747/901/original/letter-kd-logo-with-luxury-gold-template-elegance-logo-template-vector.jpg"
              alt="Logo"
            />
          </a>
        </li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/crops">Crops</a></li>
        <li><a href="/market/market-yard">Market Yard Analysis</a></li>
        <li><a href="/kishaancalc">Kishaan Calculator</a></li>
      </ul>
      <div>
        <input type="search" placeholder="Search..." />
        <a href="login" class="btn">Login</a>
        <a href="register/select_register_category" class="btn">Sign Up</a>
      </div>
    </nav>
  </body>
</html>
