<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="home"><img src="https://static.vecteezy.com/system/resources/previews/014/747/901/original/letter-kd-logo-with-luxury-gold-template-elegance-logo-template-vector.jpg" style="width: 150px; height: 150px; border-radius: 10cm;" alt=""></a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="cropsdata">Crops</a></li>
            <li><a href="market-yard">Market Yard Analysis</a></li>
            <li><a href="kishaancalc">Kishaan Calculator</a></li>
        </ul>
        <div>
            <input type="search" placeholder="Search...">
            <a href="login">Login</a> 
            <a href="category">Sign Up</a>
        </div>
    </nav> 
    
</body>
</html>