<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market-Yard</title>
    <link rel="stylesheet" href="/stylesheet/navbar.css">
    <link rel="stylesheet" href="/stylesheet/footer.css">
    <link rel="stylesheet" href="/stylesheet/market-yard.css">


</head>

<body>
    <!-- Navbar -->
    <!-- <nav>
        <ul>
            <li><a href="home"><img src="https://static.vecteezy.com/system/resources/previews/014/747/901/original/letter-kd-logo-with-luxury-gold-template-elegance-logo-template-vector.jpg" style="width: 150px; height: 150px; border-radius: 10cm;" alt=""></a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="cropsdata">Crops</a></li>
            <li><a href="market-yard">Market Yard Analysis</a></li>
            <li><a href="kishaancalc">Kishaan Calculator</a></li>
        </ul>
        <div>
            <input type="search" placeholder="Search...">
            <a href="login">Login</a> 
            <a href="category">Sign Up</a>
        </div>
    </nav>  -->
    
     <%- include('./includes/navbar') %>
    

    <!-- Language Selection -->
  

    <div class="container">
        <div class="lang">
            <label for="language">Select Language:</label>
            <select id="language" name="language" onchange="changeLanguage()">
                <option value="en">English</option>
                <option value="gu">Gujarati</option>
                <option value="hi">Hindi</option>
            </select>
        </div>
        <!-- Form for Market Yard Data -->
        <form action="/market-yard" method="POST">
            <!-- Commodity  Dropdown -->
            <label for="commodity">Commodity</label>
            <select id="commodity" name="test[commodity]" required>
                <!-- Options will be dynamically loaded based on language selection -->
            </select><br><br>
            <!-- state  Dropdown -->
            <label for="state">State</label>
            <select id="state" name="test[state]" required>
                <!-- Options will be dynamically loaded based on language selection -->
            </select><br><br>
            <!-- District  Dropdown -->
            <label for="district">District</label>
            <select id="district" name="test[district]" required>
                <!-- Options will be dynamically loaded based on language selection -->
            </select><br><br>
            <!-- Market  Dropdown -->
            <label for="market">Market</label>
            <select id="market" name="test[market]" required>
                <!-- Options will be dynamically loaded based on language selection -->
            </select><br><br>

            <label for="dateFrom">Date From:</label>
            <input class="date" type="date" id="dateFrom" name="test[dateFrom]"><br><br>

            <label for="dateTo">Date To:</label>
            <input  class="date" type="date" id="dateTo" name="test[dateTo]"><br><br>

            <button type="submit">Fetch Data</button>
        </form>
    </div>
   
    <%- include('./includes/footer') %>

    
       
    <script src="/script/agmarket.js"></script>
</body>

</html>